body {
  background-color: #222;
  padding-top: 70px;
}

div.body-page {
  background-color: #D3C7C7;
  padding-left: 15px;
  padding-right: 15px;
}

div.body-main {
  background-color: #D3C7C7;
}

div.body-side {
  background-color: #ebdbdb;
}


.container {
padding-left: 0px;
padding-right: 0px;
}

.navbar-brand {
  font-size: 40px;
  line-height: 40px;
  height: 70px;
  margin-left: 0px;
  font-weight: 600;
}

div.logo-box {
  margin: 10px;
}
