body {
  background-color: #222;
  padding-top: 70px;
}

div.body-page {
  background-color: #222;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: -10px;
  margin-top: -20px;
  padding-top: 20px;
}

div.body-main {
  background-color: #D3C7C7;
  margin-right: -30px;
  padding-left: 20px;
  padding-right: 20px;
}

div.body-side {
  background-color: #222;
  margin-left:-30px;
  margin-right: -30px;
}


.container {
padding-left: 0px;
padding-right: 0px;
}

.navbar-inverse {
  
}

.navbar-brand {
  font-size: 40px;
  line-height: 40px;
  height: 70px;
  margin-left: 0px;
  font-weight: 600;
  color:#0099FF;
}

img {
vertical-align: baseline;
}

div.logo-box {
  margin-left: 10px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color:#0099FF;
  font-weight: 700;
}
